name: "Static analysis"
on: 
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  ci:
    name: "Run golangci-lint"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ['1.23.4']
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
    
      - name: Set up Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
          cache-dependency-path: |
            exercise-1
            exercise-2

      - name: Run golangci-lint on exercise-1
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest
          working-directory: exercise-1

      - name: Run golangci-lint on exercise-2
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest
          working-directory: exercise-2

      - name: Run golangci-lint on exercise-3-go-routines
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest
          working-directory: exercise-3-go-routines
